<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div><a href="https://www.amazon.pl/Moleskine-12-miesi%C4%99czna-elastyczne-zamkni%C4%99cie-kieszonkowy/dp/B0CPB9MMVJ/ref=sr_1_2?__mk_pl_PL=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=28ANIBMS53VD5&dib=eyJ2IjoiMSJ9.Sarn1J9zQwBAgwkjy9zx9I6tz7eK-p08yxkxRNaFHzHeh5hFPZYDzaCyT7n2PE-puzB4K9vLZSeptjxfLLJRX24ATj-T4KMJmVAyM8kf_JgDeAYJxBFVoGlQcv2b8UclSUjBcI5rXf5ilDsdLB8fOBLrjxwp7XjyTbXT914dlMOukA0SyRsKi8Trt5p_rJThGTO92KU20n6LnAxUwVDgRxXLavCf-oRSrTVM5-pXlwioLHqjVttxlauTXFLXO7vPNPNmHgDRuWuwbj26wdLpPLcMkfyWgtf73BNuIcpUhRl9cUUxfI3cU88r6SNms-8y4tmn6hPJMjH82oMhfHSc8eu66JMIc2i9qFqeSnwyz3_jVrozoduSTEEwEITyBnLveSTSnVy22ZCAgo2ZKobtZI4eYhtPidk4JLWOKdZLud3vDe_O37lh-Aw225qaZCn6.7jBYItE-TOxIpz0PhHM3sCOWZTc5Dn1tuICb_FeOxyk&dib_tag=se&keywords=pocket+planner&qid=1738603718&sprefix=pocket+planner%2Caps%2C90&sr=8-2">Daily planner</a></div>

    <ul class="navbar-nav">
      <li><a *ngIf="basicAuthenticationService.getAuthenticatedUser()" routerLink="/welcome/{{username}}" class="nav-link">Home</a></li>
      <li><a *ngIf="basicAuthenticationService.getAuthenticatedUser()" routerLink="/todos" class="nav-link">Todos</a></li>
    </ul>

    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li><a *ngIf="!basicAuthenticationService.getAuthenticatedUser()" routerLink="/login" class="nav-link">Login</a></li>
      <li><a *ngIf="basicAuthenticationService.getAuthenticatedUser()" routerLink="/logout" class="nav-link">Logout</a></li>
    </ul>
  </nav>
</header>
